.red {
  border: 1px solid red;
}
.red:focus {
  border: 1px solid red;
  box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.281);
}
.redText {
  color: red;
}
.success {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  background-color: rgba(67, 196, 16, 0.877);
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  margin-top: 10px;
}
.opacity {
  opacity: 0;
}
.fontSize {
}
.author {
  font-size: 24px;
}
.textarea {
  overflow: auto;
}
