.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-60 {
  margin-bottom: 60px;
}
.flex-auto {
  flex: 1 1 auto;
}
.h-100vh {
  height: 100vh;
}
.hover:hover {
  color: rgba(255, 255, 255, 0.699) !important;
  text-decoration: underline;
}
a.active {
  text-decoration: underline;
}
.card-width {
  width: 18rem;
  color: #aa0808;
}
.overflow {
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 100px;
}
.width-auto {
  width: auto !important;
}
.radius {
  border-radius: 5px;
  color: #1505e9;
}
.link-muted {
  color: #aaa;
}

.link-muted:hover {
  color: #1266f1;
}
.float {
  float: left;
}
.radius-img {
  border-radius: 20px !important;
}
.textarea {
  height: 200px !important;
}
.border {
  border: 1px solid #dee2e6;
  border-radius: 3px;
}
.underline {
  text-decoration: underline !important;
}
