/* @import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap"); */

body {
  font-family: "Roboto" !important;
}

.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-60 {
  margin-bottom: 60px;
}
.flex-auto {
  flex: 1 1 auto;
}
.h-100vh {
  height: 100vh;
}
.hover:hover {
  color: rgba(255, 255, 255, 0.699) !important;
  text-decoration: underline;
}
a.active {
  text-decoration: underline;
}
.card-width {
  width: 18rem;
  color: #aa0808;
}
.overflow {
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  height: 100px;
}
.width-auto {
  width: auto !important;
}
.radius {
  border-radius: 5px;
  color: #1505e9;
}
.link-muted {
  color: #aaa;
}

.link-muted:hover {
  color: #1266f1;
}
.float {
  float: left;
}
.radius-img {
  border-radius: 20px !important;
}
.textarea {
  height: 200px !important;
}
.border {
  border: 1px solid #dee2e6;
  border-radius: 3px;
}
.underline {
  text-decoration: underline !important;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

[class*="-ibg"] {
  position: relative;
}
[class*="-ibg"] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
[class*="-ibg_contain"] img {
  object-fit: contain;
}

.h-100 {
  height: 100%;
}
.containerIbg {
  width: 80px;
  height: 80px;
}
.image-ibg {
  padding-bottom: 50%;
  width: 100% !important;
  height: 90% !important;
}
.container-ibg .image-img img {
}
.flex-30 {
  flex: 1 1 1%;
}
.image-ibg-course {
  padding-bottom: 55%;
  width: 200px;
  height: 50px;
  object-fit: contain !important;
}
.editCourseImage-ibg {
  width: 300px;
  height: 150px;
}
.editCourseImage-ibg {
}
.image-ibg-course-details {
  float: left;
  padding-bottom: 20%;
  width: 400px;
  height: auto;
}
.btn-group {
  height: 100% !important;
  width: 100% !important;
  /* padding-bottom: 50px !important; */
}
.dropdown-item {
  cursor: pointer;
}
.cursor-pointer {
  cursor: pointer;
}
.like {
  transition: all 0.1s ease-out;
  padding-bottom: 5px;
}
.like:hover {
  transform: scale(110%);
}
.like:active {
  transform: scale(100%);
}
.dislike {
  transition: all 0.1s ease-out;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.dislike:hover {
  transform: scale(110%);
}
.dislike:active {
  transform: scale(100%);
}
.mt-7 {
  margin-top: 7px;
}
.pt-7 {
  padding-top: 5px;
}
.search {
  position: relative;
}
.search-input {
  padding-right: 35px !important;
}
.search-input::before {
  display: none;
}
.search-img {
  position: absolute;
  top: 20%;
  right: 1%;
}
.filter .btn-group {
  flex: 0 0 50px;
}
.h-30 {
  height: 30px !important;
}
.main {
  padding-top: 77px;
  padding-bottom: 48px;
  overflow: overlay;
}
.main::-webkit-scrollbar {
  width: 12px; /* ширина всей полосы прокрутки */
  position: relative;
  z-index: -1;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background-color: #212529; /* цвет бегунка */
  border-radius: 20px;
  height: 40px; /* округлось бегунка */
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}
.category:last-child {
  margin-bottom: 14px;
}
