.coursesLess {
  font-size: 48px;
  font-style: italic;
  padding-top: 2%;
  padding-bottom: 8%;
  text-align: center;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(33, 37, 41, 0.048);
}
.loadingSmall {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  padding: 40px 0;
}
.error {
  border: 1px solid red;
}
.errorField {
  font-size: 24px;
  padding-left: 10px;
  margin-bottom: 5px;
  color: red;
}
.focus:focus {
  /* outline: 2px solid red !important; */
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.comment {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11) !important;
  position: relative !important;
}
.deleteComment {
  position: absolute;
  top: 0;
  right: 2%;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.deleteComment:hover {
  transform: scale(110%);
}
.comments {
  padding: 10px 66px;
}
.ava {
  width: 60px !important;
  margin-right: 10px !important;
}
.body {
  font-size: 18px !important;
}
