.formSignin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
.formError {
  border: 1px solid red;
}
.success {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 5px;
  background-color: rgba(67, 196, 16, 0.877);
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  margin-top: 10px;
}

.errorText {
  color: red;
}
